<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- VO의 등록을 마이바티스 설정파일에 하세요 -->
  <mapper namespace="com.team404.user.mapper.UserMapper">
  	
  	<!-- 아이디중복확인 -->
  	<select id="idConfirm" resultType="int">
  		select count(*) as total from users where userId = #{userId}
  	</select>
  	
  	<insert id="join">
  		insert into users(userId, userPw, userName, userPhone, userEmail1, userEmail2, addrZipNum, addrBasic, addrDetail, regDate)
  		values(#{userId}, 
  			   #{userPw}, 
  			   #{userName}, 
  			   replace(#{userPhone}, '-', ''),
  			   #{userEmail1},
  			   #{userEmail2}, 
  		  	   #{addrZipNum}, 
  		  	   #{addrBasic}, 
  		  	   #{addrDetail}, 
  		  	   sysdate
  		  	   )
  	</insert>
  
  	<select id="login" resultType="int">
  		select count(*) as count 
  		from users where userId = #{userId} and userPw = #{userPw}
  	</select>
  
  
  
  
  
  </mapper>